@page "/counter"

@using numpyblzsrvr.Data
@inject NumpyService NumpyServ

<h1>Numpy Test</h1>
<input @bind-value="tval"/>

<p>Result: @currentCount</p>
<p>Result: @currentCount2</p>

<button class="btn btn-primary" @onclick="IncrementCount">Get Result</button>
<button class="btn btn-primary" @onclick="IncrementCount2">Increase</button>

@code {
    private string currentCount;
    private int currentCount2;
    string tval;

    private void IncrementCount()
    {
        int s = 0;
        try
        {
            s = int.Parse(tval);
        }
        catch
        {

            return;
        }

        currentCount = NumpyServ.GetNumbers(s).ToString();
    }

    private void IncrementCount2()
    {
        currentCount2++;
    }
}
